{% extends 'base.html' %}

{% block head %}

<script>
    function chkcontrol(j) {
    var total = 0;
    for(var i = 0; i < document.form_enter_manual.enter_manual_checkbox.length; i++){
        if(document.form_enter_manual.enter_manual_checkbox[i].checked){
            total = total +1;
        }
        if(total > 20){
            alert("Maximum allowed 20") 
            document.form_enter_manual.enter_manual_checkbox[j].checked = false ;
            return false;
        }
    }
}
</script>

{% endblock %}
{% block body %}

<div class="enter_manual">
    <h1 class="enter_manual_title">Enter your skills manually</h1>

    <!--Enter manually------------------------------->
    <form method="POST" name="form_enter_manual" id="form_enter_manual">
        <div class="enter_manual_skills">
            <h2 class="enter_manual_subtitle">Dev</h2>
            <div>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(0)" value="C">C</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(1)" value="C++">C++</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(2)" value="C#">C#</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(3)" value="Java">Java</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(4)" value="Python">Python</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(5)" value="Go">Go</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(6)" value="Rust">Rust</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(7)" value="Docker">Docker</label>
            </div>
            <div>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(8)" value="Kubernetes">Kubernetes</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(9)" value="Git">Git</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(10)" value="GitHub">GitHub</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(11)" value="GitLab">GitLab</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(12)" value="AWS">AWS</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(13)" value="Azure">Azure</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(14)" value="SQL">SQL</label>
            </div>
            <div>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(15)" value="MySQL">MySQL</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(16)" value="MongoDB">MongoDB</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(17)" value="SQL Server">SQL Server</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(18)" value="PostgreSQL">PostgreSQL</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(19)" value="Oracle SQL">Oracle SQL</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(20)" value="Postman">Postman</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(21)" value="Twilio">Twilio</label>
            </div>
        </div>
        <div class="enter_manual_skills">
            <h2 class="enter_manual_subtitle">Web Dev</h2>
            <div>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(22)" value="HTML5">HTML5</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(23)" value="CSS3">CSS3</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(24)" value="JavaScript">JavaScript</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(25)" value="Typescript">Typescript</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(26)" value="React JS">React JS</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(27)" value="Angular">Angular</label>
            </div>
            <div>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(28)" value="Node.Js">Node.Js</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(29)" value="ASP.NET Core">ASP.NET Core</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(30)" value="Next.js">Next.js</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(31)" value="Vue JS">Vue JS</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(32)" value="Flask">Flask</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(33)" value="Django">Django</label>
            </div>
            <div>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(35)" value="Spring Boot">Spring Boot</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(36)" value="WordPress">WordPress</label>
            </div>
        </div>
        <div class="enter_manual_skills">
            <h2 class="enter_manual_subtitle">App Dev</h2>
            <div>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(37)" value="Dart">Dart</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(38)" value="Flutter">Flutter</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(39)" value="React Native">React Native</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(40)" value="Swift">Swift</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(41)" value="SwiftUI">SwiftUI</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(42)" value="Kotlin">Kotlin</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(43)" value=".NET MAUI">.NET MAUI</label>
            </div>
            <div>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(44)" value="Android Jetpack">Android Jetpack</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(45)" value="Ionic">Ionic</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(46)" value="Android Studio">Android Studio</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(47)" value="Xamarin">Xamarin</label>
                <label class="enter_manual_label"><input type="checkbox" name="enter_manual_checkbox" onclick="chkcontrol(48)" value="Microsoft Power Apps">Microsoft Power Apps</label>
            </div>
        </div>
        <div class="enter_manual_submit">
            <input type="submit" value="Submit">
        </div>
    </form>

</div>

{% endblock %}