{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="home_top">
    <ul class="home_topnav">
        <li><a href={{url_for('homepage')}}>Favourites</a></li>
        <li><a href={{url_for('homepage')}}>Filters</a></li>
        <li><a href={{url_for('homepage')}}>Profile</a></li>
        <li style="float: right;"><a href={{url_for('logout')}}>Log out</a></li>
    </ul>
</div>

<div class="main">
    <h1 class="main_title">Latest Job Recommendations</h1>
    <div class="main_box">
        <p>{{ user_skills }}</p>
    </div>
</div>
<!--
<div class="sidebar">
    <h1 class="sidebar_title">Job Description</h1>
    <div class="sidebar_box">
        <p></p>
    </div>
</div>
-->
{% endblock %}