body{
    font-family: sans-serif;
}
  
/* Style the links inside the navigation bar */
.topnav a{
    float: right;
    color: #ffffff;
    background-color: rgb(49, 49, 49);
    text-align: center;
    margin: 1px;
    padding: 17px 30px;
    text-decoration: none;
    font-size: 17px;
}

/* Style create an account form */
.create_acc_login{
    width: 35%; 
    margin: 50px auto; 
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.create_title{
    text-align: center;
    font-family: sans-serif;
    margin: 8%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

::placeholder{
    font-size: 16px;
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 5px 0px;
}

.input_field{
    margin: 5%;
    padding: 5px 5px;
}

.termsofservice{
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

input[type=submit] {
    color:rgb(255, 255, 255);
    background-color: black;
    font-size: 16px;
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
}

.signup_login{
    width: 100%;
    margin: 5% auto;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
}

/*Enter skills styles*/
.enterskills_title{
    text-align: center;
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 0px;
}

.enterskills_subtitle{
    text-align: center;
    font-family: sans-serif;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2%;
    margin: 1%;
    margin-left: 3%;
    width: 40%;
    transition: 0.3s;
    text-align: center;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2%;
    margin: 1%;
    margin-right: 3%;
    width: 40%;
    transition: 0.3s;
    text-align: center;
}

.enter_skills{
    width: 100%;
    margin: 5% auto;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
}

input[type=submit] {
    color:rgb(255, 255, 255);
    background-color: black;
    font-size: 16px;
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
}

/*Upload CV*/
.enter_cv{
    width: 35%; 
    margin: 50px auto; 
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.enter_cv_title{
    text-align: center;
    font-family: sans-serif;
    margin: 8%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

::placeholder{
    font-size: 16px;
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 5px 0px;
}

.input_field{
    margin: 5%;
    padding: 5px 5px;
}

input[type=submit] {
    color:rgb(255, 255, 255);
    background-color: black;
    font-size: 16px;
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
}

/* Enter manual */
.enter_manual{
    width: 75%; 
    margin: 50px auto; 
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.enter_manual_title{
    text-align: center;
    font-family: sans-serif;
    margin: 3%;
}

.enter_manual_subtitle{
    text-align: center;
    font-family: sans-serif;
    margin: 3%;
}

.enter_manual_skills{
    display: inline-block;
    width: 95%; 
    margin: 5px auto; 
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.enter_manual_label{
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 15px 20px;
    margin: 10px 5px;
    border: 1px solid black;
    box-sizing: border-box;
    cursor: pointer;
}

input[type=checkbox]{
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 10px 5px;
    margin: 25px 5px;
}

.enter_manual_submit{
    width: 100%;
    margin: 2% auto;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
}

/* Homepage */
li{
    display: inline;
}

.home_topnav{
    background-color: rgb(49, 49, 49);
    padding: 15px 20px;
    list-style-type: none;
}

.home_topnav a{
    color: #ffffff;
    background-color: rgb(49, 49, 49);
    padding: 15px 20px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.main {
    margin-right: 400px; /* Same as the width of the sidebar */
    margin-top: 25px;
}

.main_title{
    text-align: center;
}

.main_box{
    width: 95%; 
    height: 72vh;
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.sidebar {
    height: 100vh; 
    width: 400px; 
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #ebebeb; 
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 70px;
    margin-right: 7px;
    padding-top: 20px;
}

.sidebar_title{
    text-align: center;
    margin-top: 0px;
}

.sidebar_box{
    width: 85%; 
    height: 72vh;
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}