body{
    margin: 10px;
    font-family: sans-serif;
}
  
/* Style the links inside the navigation bar */
.topnav a{
    float: right;
    color: #ffffff;
    background-color: rgb(10, 10, 10);
    text-align: center;
    margin: 1px;
    padding: 17px 30px;
    text-decoration: none;
    font-size: 17px;
}