{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="home_top">
    <ul class="home_topnav">
        <li><a href={{url_for('homepage')}}>Home</a></li>
        <li><a href={{url_for('learnpage')}}>Learn</a></li>
        <li><a href={{url_for('profile')}}>Profile</a></li>
        <li><a href={{url_for('settings')}}>Settings</a></li>
        <li style="float: right;"><a href={{url_for('logout')}}>Log out</a></li>
    </ul>
</div>

<div class="profile">
    <h1 class="profile_title">User Profile</h1>
    <div class="profile_box">
        <p>Username: {{ username }}</p>
        <p>Email: {{ email }}</p>
        <p>Phone: {{ phone }}</p>
        <p>Address: {{ address }}</p>
        <p>Country: {{ country }}</p>
        <p>Postal Code: {{ postalcode }}</p>
    </div>
</div>

{% endblock %}